@import "tailwindcss";

body {
    margin: 0;
    background: black;
}

@keyframes zoom {

    0% {
        transform: scale(0.8);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1.5s ease forwards;
}

.tudum-animation {
    animation: zoom 1.5s ease;
}